APP_MODE=debug/release
HTTP_PORT=:8000/:3000
MYSQL_DB_SOURCE=username:password@tcp(xxx.xxx.xxx.xxx:3306)/DBName?charset=utf8&parseTime=true
MONGO_DB_SOURCE=mongodb://admin:password@xxx.xxx.xxx.xxx:27017/DBName
REDIS_DB_SOURCE=
DB_TEST_SOURCE=
SERVER_ADDRESS=0.0.0.0:8000
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ACCESS_TOKEN_DURATION=15m